* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 940px;
}

/* header */

header {
    background: url(./images/bg_01.png) no-repeat center/cover;
    text-align: center;
    padding: 15px 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    font-size: 13px;
}

.nav ul li {
    padding: 0 12px;
    line-height: 50px;
}

#home {
    padding: 220px 0 100px;
}

#home ul li h2 {
    position: relative;
    font-size: 32px;
    color: #fff;
    font-weight: 900;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

#home ul li h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

#home ul li p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 50px;
}

#home ul li a {
    border: 1px solid #00e0d0;
    padding: 15px;
    font-weight: 900;
    display: inline-block;
    margin-bottom: 125px;
    color: #00e0d0;
}

#home ol li {
    display: inline-block;
}

#home ol li a {
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    text-indent: -9999px;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* section About */

.story {
    display: flex;
    justify-content: space-between;
    padding: 70px 0 0 0;
}

.ci {
    margin-right: 140px;
}

.about-text h3 {
    font-size: 22px;
    color: #413d4b;
    margin-bottom: 25px;
}

.about-text p {
    font-size: 14px;
    color: rgba(65,61,75,0.75);
    line-height: 22px;
    margin-bottom: 30px;
}

.about-text a {
    border: 1px solid #00e0d0;
    padding: 15px;
    font-weight: 900;
    display: inline-block;
    margin-bottom: 125px;
    color: #00e0d0;
}

.video-area {
    background: url(./images/bg_02.png) no-repeat center/cover;
    padding: 200px 0;
    text-align: center;
}

.video-area a {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    box-sizing: border-box;
    border-radius: 50px;
    background: url(./images/ico_play.png) no-repeat 60% center;
}

.video-area h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 20px;
}

/* section Expertise */

#expertise {
    text-align: center;
    padding: 70px 0;
}

.experArea h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.experArea p {
    font-size: 14px;
}

.experArea hr{
    width: 50px;
    height: 2px;
    background-color: #c6c4c9;
    margin: 20px auto 50px;
}

.experIcons ul li {
    float: left;
    width: 33.3%; 
    box-sizing: border-box;
    background-position: center 30px;
    background-repeat: no-repeat;
    padding: 115px 20px 40px;
}

.experIcons ul::after {
    content: ''; display: block; visibility: hidden; clear: both;
}

.experIcons ul li:nth-child(1){
    background-image:url("./images/ico_01.png");
}

.experIcons ul li:nth-child(2){
    background-image:url("./images/ico_02.png");
}

.experIcons ul li:nth-child(3){
    background-image:url("./images/ico_03.png");
}

.experIcons ul li:nth-child(4){
    background-image:url("./images/ico_04.png");
}

.experIcons ul li:nth-child(5){
    background-image:url("./images/ico_05.png");
}

.experIcons ul li:nth-child(6){
    background-image:url("./images/ico_06.png");
}

.experIcons ul li:not(:nth-child(3n)){
    border-right:1px solid #ebebeb;
}

.experIcons ul li:nth-child(n+1):nth-child(-n+3){
    border-bottom:1px solid #ebebeb;
}

.experIcons ul li h4 {
    font-size: 14px;
    color: #413d4b;
    margin-bottom: 25px;
}

.experIcons ul li p {
    font-size: 14px;
    line-height: 22px;
    color: rgba(51,51,51,0.75);
}

/* section Team */

#team {
    background: url(./images/bg_03.png) no-repeat center/cover;
    text-align: center;
    padding: 70px 0;
}

.teams h3, 
.teams p {
    color: #fff;
}

.teams h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
}

.teams hr {
    width: 50px;
    height: 2px;
    background-color: #c6c4c9;
    margin: 20px auto 50px;
}

.teams ul {
    margin-bottom: 70px;
}

.teams ul::after {
    content: ''; display: block; clear: both; visibility: hidden;
}

.teams ul li {
    float: left;
    width: 23%;
}

.teams ul li:not(:last-child){
    margin-right:2.66%;
}

.teams ul li figure{
    padding-top:230px;
    background:url("https://via.placeholder.com/220x230") no-repeat center top;
    background-size:100% 230px;
}

.teams ul li figure figcaption{
    padding:20px 20px 25px; border:1px solid rgba(255,255,255,0.5);
    box-sizing:border-box;
}

.teams ul li figure figcaption dl dt{
    font-size:14px; color:#fff; font-weight:900;
    margin-bottom:10px;
}

.teams ul li figure figcaption dl dd {
    font-size: 13px;
    color: rgba(255,255,255,0.7);
    font-weight: 300;
}

.teams p:nth-of-type(2) {
    margin-bottom: 25px;
    font-weight: 300;
}

.teams a {
    color: #00e0d0;
    font-weight: 900;
    border: 1px solid #00e0d0;
    padding: 15px;
    display: inline-block;
}