* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 940px;
}

/* header */

header {
    background: url(./images/bg_01.png) no-repeat center/cover;
    text-align: center;
    padding: 15px 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.nav ul {
    display: flex;
    font-size: 13px;
}

.nav ul li {
    padding: 0 12px;
    line-height: 50px;
}

#home {
    padding: 220px 0 100px;
}

#home ul li h2 {
    position: relative;
    font-size: 32px;
    color: #fff;
    font-weight: 900;
    padding-bottom: 25px;
    margin-bottom: 30px;
}

#home ul li h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 1px;
    background-color: #00e0d0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

#home ul li p {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 50px;
}

#home ul li a {
    border: 1px solid #00e0d0;
    padding: 15px;
    font-weight: 900;
    display: inline-block;
    margin-bottom: 125px;
    color: #00e0d0;
}

#home ol li {
    display: inline-block;
}

#home ol li a {
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    text-indent: -9999px;
    border: 1px solid #fff;
    border-radius: 5px;
}

/* section About */

.story {
    display: flex;
    justify-content: space-between;
    padding: 70px 0 0 0;
}

.ci {
    margin-right: 140px;
}

.about-text h3 {
    font-size: 22px;
    color: #413d4b;
    margin-bottom: 25px;
}

.about-text p {
    font-size: 14px;
    color: rgba(65,61,75,0.75);
    line-height: 22px;
    margin-bottom: 30px;
}

.about-text a {
    border: 1px solid #00e0d0;
    padding: 15px;
    font-weight: 900;
    display: inline-block;
    margin-bottom: 125px;
    color: #00e0d0;
}

.video-area {
    background: url(./images/bg_02.png) no-repeat center/cover;
    padding: 200px 0;
    text-align: center;
}

.video-area a {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 3px solid #fff;
    box-sizing: border-box;
    border-radius: 50px;
    background: url(./images/ico_play.png) no-repeat 60% center;
}

.video-area h3 {
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 20px;
}